[submodule "components/Chunk_Types/components/doctest"]
	path = components/Chunk_Types/components/doctest
	url = https://github.com/Sense-Scape/doctest.git
[submodule "components/Chunk_Types/components/Nlohmann_JSON"]
	path = components/Chunk_Types/components/Nlohmann_JSON
	url = https://github.com/Sense-Scape/Nlohmann_JSON.git
[submodule "components/doctest"]
	path = components/doctest
	url = https://github.com/Sense-Scape/doctest.git
[submodule "components/plog"]
	path = components/plog
	url = https://github.com/Sense-Scape/plog.git
